@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --background-color: #0b1121;
    --fullname-color: #fff;
    --subtitle: #38bdf8;
    --paragraph-text: #94a3b8;
    --technology-text: #cbd5e1;
    --button-bg: #0ea5e9;

    --font: 'Inter', sans-serif;
    --padding: 16px;
    --button-padding: 8px;
}

body {
    font-family: var(--font);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: var(--padding) 0 var(--padding) 0;
    padding: 0px;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--padding);
}

.photo {
    width: 40vw;
    border-radius: 20%;
    margin-bottom: var(--padding);
}

.name {
    color: var(--fullname-color);
    font-size: 2em;
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-align: center;
}

.subtitle {
    color: var(--subtitle);
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-align: center;
}

.section {
    width: 90%;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 16px 0;
}

.section-subtitle {
    color: var(--subtitle);
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-bottom: var(--padding);
}

.description-container {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.description {
    color: var(--paragraph-text);
    font-weight: 400;
    text-align: center;
}

.social-container {
    align-self: center;
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 8px 0 8px;
}

.skill-container {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-name {
    color: var(--technology-text);
    text-align: center;
}

.skill-image {
    width: 50%;
}

.projects-row {
    width: 100%;
    display: flex;
    margin: auto;
    align-self: center;
    gap: var(--padding);
    overflow: scroll;
    padding-bottom: var(--padding);
}

.project-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 270px;
    padding: var(--padding);
    border-radius: 10px;
    background-color: #1e293b;
    justify-content: space-between;
}

.project-container-technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-container-technologies img {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

.project-name {
    color: var(--subtitle);
    font-weight: 800;
    padding: 0;
    margin-bottom: 0px;
    height: 1rem;
    line-height: 1rem;
}

.project-technologies-name {
    color: var(--technology-text);
    height: 1rem;
    line-height: 1rem;
}

.project-description {
    color: var(--paragraph-text);
    overflow-wrap: break-word;
}

.information-container {
    display: flex;
}

.github-repo-link {
    display: flex;
    align-items: center;
    background-color: var(--button-bg);
    padding: var(--button-padding);
    border-radius: 5px;
    max-width: 100px;
    font-weight: 600;
    color: var(--fullname-color);
}

.github-repo-icon {
    margin-right: var(--padding);
}

.footer-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer-email {
    padding: 0;
    color: var(--paragraph-text);
}

@media (min-width: 320px) and (max-width: 374px) {
    .project-container {
        width: 225px;
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    main {
        align-self: center;
        width: 80%;
        display: flex;
    }

    .section {
        width: 80%;
    }

    .skill {
        width: 20%;
    }

    .photo {
        width: 40%;
    }
}


@media (min-width: 1024px) {
    main {
        width: 80%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .name {
        text-align: left;
    }

    .subtitle {
        text-align: left;
    }

    .section-subtitle {
        align-self: flex-start;
    }

    .photo {
        width: 20%;
    }

    .description-container {
        width: 70%;
    }

    .description {
        text-align: left;
    }

    .description-container .social-container {
        align-self: flex-start;
    }

    .projects-row {
        flex-wrap: wrap;
        overflow: visible;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .section {
        width: 80%;
    }

    .project-container {
        width: calc((92% - 16px) / 2);
    }
    
    .skill {
        width: 16.6%;
    }
}

@media (min-width: 1280px) {
    body {
        margin: 32px 0 32px 0;
    }

    main {
        width: 70%;
    }

    .photo {
        margin-bottom: 0px;
    }

    .section {
        width: 70%;
    }

    .project-container {
        width: calc(33% - 40px);
    }

    .skill {
        width: 8.3%;
    }
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .photo {
        width: 15%;
    }
}