@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

:root {
    --font: 'Inter', sans-serif;
    --bg-main: #0f0f0f;
    --button-bg-color: #1e1b1e;
    --text-color-secondary: #b8b9ba;

    --bg-secondary: #fff;
    --text-main-color: #fff;

    --about-bg-color: #dfffef;
    --about-title-color: #000;
    --about-me-text-color: #000;
    --chip-title-color: #000;
    --chip-text-color: #000;

    --vibrant-color: #5a4ff5;
    --project-bg: #ffffff;

    --p1: 8px;
    --p1-5: 12px;
    --p2: 16px;
    --p4: 32px;
    --p5: 48px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.enclosed-container {
    width: 70%;
    max-width: calc(1366px * 0.7);
}

@media (min-width: 280px) and (max-width: 475px) {
    .enclosed-container {
        width: 90%;
        max-width: calc(420px * 0.9);
    }
}

@media (min-width: 475px) and (max-width: 768px) {
    .enclosed-container {
        width: 85%;
        max-width: calc(768px * 0.85);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .enclosed-container {
        width: 80%;
        max-width: calc(1024px * 0.8);
    }
}

/* Landing page section */
.menu {
    height: 64px;
    background-color: var(--bg-main);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.menu-container {
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.santiago {
    font-family: var(--font);
    font-weight: 800;
    color: var(--text-main-color);
    margin: 0px;
}

.santiago span {
    color: var(--vibrant-color)
}

.landing {
    height: 100vh;
    max-height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.greeting {
    padding: var(--p2);
    border-radius: 32px;
    background-color: var(--button-bg-color);
    font-family: var(--font);
    font-weight: 400;
    color: var(--text-main-color);
    position: relative;
}

.greeting-image {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 0px 50%;
    position: absolute;
    top: -40px;
    left: -50px;
}

.headline {
    font-family: var(--font);
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    color: #fff;
    margin: 0px;
}

.subtitle {
    font-family: var(--font);
    font-weight: 400;
    text-align: center;
    color: var(--text-color-secondary);
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: var(--p2);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 120px;
    padding: 0 16px 0 16px;
    color: #fff;
    font-family: var(--font);
    font-weight: 600;
    border-radius: 10px;
}

.view-projects-button {
    text-decoration: none;
    background-color: var(--vibrant-color);
    box-shadow: 0px 0px 10px var(--vibrant-color);
}

.available-container-button {
    background-color: var(--button-bg-color);
}

.available-badge {
    width: 10px;
    height: 10px;
    margin-right: var(--p1);
    border-radius: 50%;
    background-color: #2ea63d;
}

@media (min-width: 280px) and (max-width: 475px) {
    .headline {
        font-size: 40px;
    }

    .landing-container {
        width: 90%;
        max-width: calc(420px * 0.9);
    }

    .menu-container {
        max-width: calc(420px * 0.9);
    }

    .greeting {
        padding: var(--p1-5);
    }

    .greeting-image {
        top: -50px;
        left: -40px;
        width: 50px;
        height: 50px;
    }

    .button-container {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .button {
        width: 70%;
        min-width: 120px;
    }   
}

@media (height <= 533px) {
    .landing {
        height: 600px;
    }
}

@media (min-width: 475px) and (max-width: 768px) {
    .headline {
        font-size: 60px;
    }

    .subtitle {
        width: 80%;
    }

    #build::after {
        content: "\a";
        white-space: pre;
    }

    .landing-container {
        width: 85%;
        max-width: calc(768px * 0.85);
    }

    .menu-container {
        max-width: calc(768px * 0.85);
    }

    .greeting {
        padding: var(--p1-5);
    }

    .greeting-image {
        top: -50px;
        left: -40px;
        width: 50px;
        height: 50px;
    }

    .button-container {
        width: 50%;
        align-items: center;
        flex-direction: column;
    }

    .button {
        width: 70%;
        min-width: 120px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .subtitle {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .subtitle {
        width: 70%;
        max-width: calc(1366px * 0.7 * 0.7);
    }

    #build::after {
        content: "\a";
        white-space: pre;
    }
}


/* About me section */
.about-me-container {
    background-color: var(--about-bg-color);
    display: flex;
    justify-content: center;
}

.about-me {
    display: flex;
    gap: var(--p2);
    padding: var(--p4) 0px var(--p4) 0px;
}

.skills-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--p2);
}

.about-me-headline {
    font-family: var(--font);
    font-weight: 800;
    color: var(--about-title-color);
    font-size: 40px;
    margin: 0;
}

#whoami::after {
    content: "\a";
    white-space: pre;
}

.about-me-information-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--p2);
}

.about-me-information {
    font-family: var(--font);
    font-weight: 400;
    margin: 0;
    color: var(--about-me-text-color);
}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--p2);
}

.chip {
    padding: var(--p1);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--chip-text-color);
    font-family: var(--font);
    font-weight: 400;
    color: var(--chip-text-color);
}


@media (min-width: 280px) and (max-width: 768px) {
    .about-me {
        flex-direction: column;
    }

    .about-me-headline {
        text-align: center;
    }

    .skills-container {
        width: 100%;
    }

    .about-me-container {
        text-align: center;
    }

    .about-me-information-container {
        width: 100%;
        text-align: center;
        gap: 0px;
    }

    .chip-container {
        justify-content: center;
    }
}




/* Projcet section */
.project-root {
    background-color: var(--project-bg);
    display: flex;
    justify-content: center;
    padding: var(--p4) 0px 72px 0px;
}

.projects-title {
    font-family: var(--font);
    font-weight: 800;
    font-size: 40px;
}

.projects-description {
    font-family: var(--font);
    font-weight: 400;
}

.project-description-link {
    text-decoration: none;
    color: var(--vibrant-color);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--p2);
}

.featured-project {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--p4);
    background-color: #fadf7d;
    padding: var(--p4);
    border-radius: 10px;
}

.featured-project img {
    width: calc(50% - 16px);
    border-radius: var(--p1);
}

.featured-project-info {
    width: calc(50% - 16px);
}

.project-item {
    width: calc(calc(100% - 32px) / 3);
    padding: var(--p4);
    box-sizing: border-box;
    background-color: var(--project-bg);
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item-green {
    background-color: #00c39a;
    color: white;
}

.project-item-yellow {
    background-color: #fadf7d;
}

.project-item-purple {
    background-color: #fe6d79;
}

.project-item-blue {
    background-color: #6abfc9;
}

.project-item-black {
    background-color: var(--button-bg-color);
}

.project-name {
    font-family: var(--font);
    font-weight: 800;
    margin: 0px;
    font-size: 20px;
}

.project-technologies-title {
    font-size: 14px;
    font-family: var(--font);
    font-weight: 800;
    color: #000;
    margin-bottom: 0px;
}

.project-description {
    font-family: var(--font);
    font-weight: 500;
    color: #000;
    font-size: 14px;
}

.project-description-black {
    color: #000;
}

.project-chip-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--p1);
}

.project-links-container {
    display: flex;
    flex-direction: column;
    gap: var(--p1);
}

.link-hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.project-link-container-divider {
    height: 2px;
}

.green-divider {
    background-color: #57c096;
}

.black-divider {
    background-color: #292929;
}

.yellow-divider {
    background-color: #e9ec84;
}

.purple-divider {
    background-color: #be8fec;
}

.project-link {
    font-family: var(--font);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: var(--p1);
    text-decoration: none;
    font-size: 14px;
    color: #000;
    text-decoration-line: underline;
}

.load-more {
    background-color: var(--vibrant-color);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: var(--text-main-color);
    font-family: var(--font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 280px) and (max-width: 640px) {
    .project-item {
        width: 100%;
    }

    .projects-title {
        text-align: center;
    }

    .featured-project {
        flex-direction: column;
    }

    .featured-project img {
        width: 100%;
    }

    .featured-project-info {
        width: 100%;
    }
}

@media (min-width: 640px) and (max-width: 1280px) {
    .project-item {
        width: calc(calc(100% - 16px) / 2);
    }

    .featured-project {
        flex-direction: column;
    }

    .featured-project img {
        width: 100%;
    }

    .featured-project-info {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .projects-description {
        max-width: 80%;
    }
}




/* Footer */
.footer {
    background-color: var(--bg-main);
    display: flex;
    gap: var(--p2);
    justify-content: center;
    padding: var(--p4) 0px var(--p4) 0px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--p4);
    
}

.footer-main-info-container {
    display: flex;
    justify-content: space-between;
}

.footer-additional-info-container {
    display: flex;
    justify-content: space-between;
}

.name {
    font-family: var(--font);
    font-weight: 800;
    font-size: 30px;
    color: var(--text-main-color);
    margin: 0px;
}

.name span {
    color: var(--vibrant-color)
}

.social-container {
    display: flex;
    flex-direction: row;
}

.separator {
    width: var(--p1);
}

.footer-title {
    font-family: var(--font);
    font-weight: 800;
    color: var(--text-main-color);
    margin: 0px;
}

.footer-item {
    font-family: var(--font);
    font-weight: 600;
    font-size: 13px;
    color: var(--text-color-secondary);
    list-style: none;
    margin: 0px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.made-by-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    color: var(--text-color-secondary);
    gap: var(--p1);
}

@media (max-width: 320px) {
    .footer-additional-info-container {
        display: none;
    }
}

@media (min-width: 280px) and (max-width: 1024px) {
    .footer-main-info-container {
        flex-direction: column;
        gap: var(--p2);
    }

    .footer-additional-info-container {
        flex-direction: column;
        gap: var(--p2);
    }

    .made-by-container {
        align-self: flex-start;
    }
}
